div#carName {
    color: brown;
	font-weight: bold;
    font-family: sans-serif;
}

div#carContainer {
	width: 208px;
	height: 208px;
}

.property {
    height: 15px;
    margin: 5px;
}

.chooseCar {
	-moz-box-shadow:inset 0px 0px 16px -8px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 16px -8px #bbdaf7;
	box-shadow:inset 0px 0px 16px -8px #bbdaf7;
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	font-style:normal;
	height:53px;
	line-height:53px;
	width:54px;
	text-decoration:none;
	text-align:center;
}
.chooseCar:hover {
	background-color:#378de5;
}
.chooseCar:active {
	position:relative;
	top:1px;
}


.ui-widget-content {
	background: white;
}
.ui-slider-range {
	background: grey;
}

.spend {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:230px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.spend:hover {
	background-color:#1e62d0;
}
.spend:active {
	position:relative;
	top:1px;
}
.spend:disabled, .chooseCar:disabled{
	box-shadow:inset 0px 1px 0px 0px #dddddd;
	background-color:#dddddd;
	color:#999999;
	text-shadow:1px 1px 0px #777777;
	border:1px solid #dddddd;
}
.pContainer {
    margin: 15px;
	color: brown;
	font-weight: bold;
    font-family: sans-serif;
}

.vOfp {
    color: brown;
	font-weight: bold;
    font-family: sans-serif;
}

#moneyneed,#coinNum{
	color: brown;
	font-weight: bold;
    font-family: sans-serif;
}

div#whole {
    margin: 0 auto;
}