.outerImage {
	width:544px;
	height:480px;
	background-image:url('images/status2.png');
	position: absolute;
	margin-top:50px;
}
.outerBlack {
	width:544px;
	height:480px;
	background-color:black;
	position: absolute;
}
#myGame {
	position: relative;
	top: 16px;
	left: -16px;
}
#levelNum {
	position: absolute;
	top: 96px;
	left: 336px;
	width: 16px;
	height: 16px;
}
#scoreBG {
	background-image:url('images/score.png');
	position: absolute;
	top: 16px;
	left: 32px;
	width:448px;
	height:448px;
	display: none;
}
#score0 {
	position: absolute;
	top: 160px;
	left: 208px;
	width: 16px;
	height: 16px;
}
#score1 {
	position: absolute;
	top: 208px;
	left: 144px;
	width: 16px;
	height: 16px;
}
#score2 {
	position: absolute;
	top: 256px;
	left: 144px;
	width: 16px;
	height: 16px;
}
#score3 {
	position: absolute;
	top: 304px;
	left: 144px;
	width: 16px;
	height: 16px;
}
#score4 {
	position: absolute;
	top: 352px;
	left: 144px;
	width: 16px;
	height: 16px;
}
#carnum0 {
	position: absolute;
	top: 385px;
	left: 256px;
	width: 16px;
	height: 16px;
}
#carnum1 {
	position: absolute;
	top: 208px;
	left: 256px;
	width: 16px;
	height: 16px;
}
#carnum2 {
	position: absolute;
	top: 256px;
	left: 256px;
	width: 16px;
	height: 16px;
}
#carnum3 {
	position: absolute;
	top: 304px;
	left: 256px;
	width: 16px;
	height: 16px;
}
#carnum4 {
	position: absolute;
	top: 352px;
	left: 256px;
	width: 16px;
	height: 16px;
}
#lives1 {
	position: absolute;
	top: 288px;
	left: 512px;
	height: 16px;
	width: 16px;
}
#lives2 {
	position: absolute;
	top: 336px;
	left: 512px;
	height: 16px;
	width: 16px;
}
#level0 {
	position: absolute;
	top: 400px;
	left: 496px;
	height: 16px;
	width: 16px;
}
#level1 {
	position: absolute;
	top: 400px;
	left: 512px;
	height: 16px;
	width: 16px;
}
#over {
	display:none;
	background-image:url('images/over.png');
	position: absolute;
	top: 464px;
	left: 224px;
	height: 32px;
	width: 64px;
}
.enodd {
	position: absolute;
	left: 496px;
	height: 16px;
	width: 16px;
}
.eneven {
	position: absolute;
	left: 512px;
	height: 16px;
	width: 16px;
}
.numSprite {
	background-image:url('images/status3.png');
	background-color:transparent;
	background-repeat:no-repeat;
	display:block;
}
.numSprite2 {
	background-image:url('images/status4.png');
	background-color:transparent;
	background-repeat:no-repeat;
	display:block;
}
.num0 {
	background-position: -16px -16px;
	height: 16px;
	width: 16px;
}
.num1 {
	background-position: -32px -16px;
	height: 16px;
	width: 16px;
}
.num2 {
	background-position: -48px -16px;
	height: 16px;
	width: 16px;
}
.num3 {
	background-position: -64px -16px;
	height: 16px;
	width: 16px;
}
.num4 {
	background-position: -80px -16px;
	height: 16px;
	width: 16px;
}
.num5 {
	background-position: -16px -32px;
	height: 16px;
	width: 16px;
}
.num6 {
	background-position: -32px -32px;
	height: 16px;
	width: 16px;
}
.num7 {
	background-position: -48px -32px;
	height: 16px;
	width: 16px;
}
.num8 {
	background-position: -64px -32px;
	height: 16px;
	width: 16px;
}
.num9 {
	background-position: -80px -32px;
	height: 16px;
	width: 16px;
}
.bomb {
	background-position: 0px -32px;
	height: 16px;
	width: 16px;
}